<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="IEEE754Convert.IEEE754Convert">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
	<application android:label="IEEE754Convert">
	</application>
</manifest>